/**
tailwindcss的使用
安装
npm install -D tailwindcss postcss autoprefixer
生成文件
npx tailwindcss init -p
配置如下
然后main.ts引入
*/
@tailwind base;
@tailwind components;
@tailwind utilities;
#app,html,body {
    /*@apply 是 Tailwind CSS 中用于在 CSS 文件中引用 Tailwind 实用类的工具。这种方式可以让你将 Tailwind 的类组合在一起并应用到某个选择器中
    size-full: Tailwind 3.x 中的一个类，用来让元素的尺寸占据全部可用空间（即 width: 100% 和 height: 100%）。这是用来让 html 和 body 等元素填满整个视口。
    overscroll-none: 用来禁用滚动的过度滚动效果，这个类可以在某些浏览器中减少滚动时的视觉效果，如在 macOS 上的滚动惯性*/
    @apply size-full overscroll-none;
}
body {
    min-height: 100vh;
}

.bg-accent {
    background: rgb(var(--sidebar));
}

.bg-background {
    background: rgb(var(--bg-background));
}

.bg-white {
    background: #fff;
}


.bg-primary {
    background: rgb(var(--primary));
}
.text-popover-foreground {
    color: rgba(242,242,242, 0.8);
}
.flex-center {
    @apply flex items-center justify-center;
}
.flex-between {
    @apply flex items-center justify-between;
}
.flex-start {
    @apply flex items-center justify-start;
}
.flex-end {
    @apply flex items-center justify-end;
}

.pointer {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track-piece {
    background: transparent;
}
::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
    border-radius: 5px;
    border-style: dashed;
    background-color: #d8d8d8;
    border-color: transparent;
    border-width: 2px;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: #d8d8d8
}




