:root .vxe-grid {

}

.vxe-pager {
  .vxe-pager--prev-btn:not(.is--disabled):active,
  .vxe-pager--next-btn:not(.is--disabled):active,
  .vxe-pager--num-btn:not(.is--disabled):active,
  .vxe-pager--jump-prev:not(.is--disabled):active,
  .vxe-pager--jump-next:not(.is--disabled):active,
  .vxe-pager--prev-btn:not(.is--disabled):focus,
  .vxe-pager--next-btn:not(.is--disabled):focus,
  .vxe-pager--num-btn:not(.is--disabled):focus,
  .vxe-pager--jump-prev:not(.is--disabled):focus,
  .vxe-pager--jump-next:not(.is--disabled):focus {
    color: pink;
    background-color: #ccc;
    border: 1px solid hsl(var(--border));
    box-shadow: 0 0 0 1px hsl(var(--border));
  }

  .vxe-pager--wrapper {
    display: flex;
    align-items: center;
  }

  .vxe-pager--sizes {
    margin-right: auto;
  }
}

.vxe-pager--wrapper {
  @apply justify-center md:justify-end;
}

.vxe-tools--operate {
  margin-right: 0.25rem;
  margin-left: 0.75rem;
}

.vxe-table-custom--checkbox-option:hover {
  background: none !important;
}

.vxe-toolbar {
  padding: 0;
}

.vxe-buttons--wrapper:not(:empty),
.vxe-tools--operate:not(:empty),
.vxe-tools--wrapper:not(:empty) {
  padding: 0.6em 0;
}

.vxe-tools--operate:not(:has(button)) {
  margin-left: 0;
}
