/*有些颜色需要设置透明度，所以变量只存值*/
:root{
    /* 侧边栏背景色 */
    --sidebar: 28,30,35;
    /* 文字颜色 */
    --text-color: 50,54,57;
    /* 主题色 */
    --primary: 0,107,230;
    /* 背景颜色 */
    --bg-background: 244,244,245;
}

