/*有些颜色需要设置透明度，所以变量只存值*/
:root{
    /* 侧边栏背景色 */
    --sidebar: 28,30,35;
    /* 文字颜色 50,54,57这是#000 */
    --text-color: 51,51,51;
    /* 主题色 */
    --primary: 3,84,251;
    /* 背景颜色 */
    --bg-background: 244,244,245;
}

